
@media (min-width: 992px) {
  .grid.album-grid {
    > .grid-item {
      &.first {
        padding-left: 0;
      }
      &.last {
        padding-right: 0;
      }
    }
  }
}
@media (max-width: 992px) {
  .col-75,
  .col-50,
  .col-25,
  .col-20 {
    width: 33%;
  }
  .container {
    max-width: 960px;
  }
  .content {
    width: 100%;
  }
  .grid.album-grid .grid-item {
    width: calc(30% - 20px);
  }
}
@media (max-width: 768px) {
  .col-75,
  .col-50,
  .col-25,
  .col-20 {
    width: 50%;
  }
  .container {
    max-width: 720px;
  }
  .content {
    width: 100%;
  }
  .grid.album-grid .grid-item {
    width: calc(45% - 13px);
  }
}
@media (max-width: 576px) {
  .col-75,
  .col-50,
  .col-25,
  .col-20 {
    width: 100%;
  }
  .container {
    max-width: 540px;
    flex-wrap: wrap;
  }
  .content {
    width: 100%;
  }
  .grid.album-grid .grid-item {
    width: 100%;
  }
}
