@import "../../../assets/colors.scss";
.album {
  cursor: pointer;
  &:hover{
    opacity: 0.8;
    transition: ease-in 200ms;

  }
  h4 {
    color: $default;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    small {
      display: block;
      color: $primary;
      margin-top: 10px;
    }
  }
  &+.album{
    width: 19%;
  }
  img{
    width: 100%;
  }
}
