@import "../../../assets/colors.scss";
.album {
  text-align: center;
  padding: 20px;
  h4 {
    color: $default;
    font-weight: normal;
    font-size: 14px;
    small {
      display: block;
      color: $primary;
      margin-top: 10px;
    }
  }
}
