@import "../../../assets/scss/colors.scss";

ul {
  list-style-type: decimal;
  li {
    font-size: 14px;
    padding: 10px 0;
    &:first-of-type {
      padding-top: 0;
    }
    span {
      float: right;
    }
    &.hasPreview {
      cursor: pointer;
      color: $default;
    }
  }
}
