@import "../../../assets/colors.scss";

input {
  width: 100%;
  border: 0px;
  border-bottom: solid 1px $primary;
  background: transparent;
  height: 60px;
  font-size: 48px;
  color: $default;

  &::placeholder {
    font-weight: bold;
    font-size: 48px;
  }
  &:focus {
    outline: none;
  }
}
label {
  font-size: 16px;
  color: $default;
}
